{% extends "base.html" %}

{% block body %}
<section class="main">
    <h1>Tasks</h1>
    <ol class="task-list">
        {% for task in tasks %}
            <li class="task">{{ task }}</li>
        {% empty %}
            <li class="task">No Task</li>
        {% endfor%}
    </ol>
    <br>
    <ul class="btn-group">
        <li class="btn"><a href="{% url 'user:add' %}">Add Task</a></li>
        <li class="btn"><a href="{% url 'user:delete' %}">Delete Task</a></li>
        <li class="btn"><a href="{% url 'user:update' %}">Update Task</a></li>
    </ul>
</section>
{% endblock %}